{% extends 'base.html' %}

{% block contents %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">自動販売機一覧（統計）</h2>
        <a href="{% url 'toukei_index' %}">統計機一覧に戻る</a><br><br>

        <form method="GET" action="" name="filter">
            <input type="search" id="filter_name" name="jihanki_name" size="50" placeholder="住所">
            <button id="filter">検索</button>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>自動販売機ID</th>
                    <th>住所</th>
                    <th>座標X</th>
                    <th>座標Y</th>
                </tr>
                </thead>
                <tbody>
                {% for jihanki in jihankis %}
                    <tr>
                        <td>{{ jihanki.jihanki_id }}</td>
                        <td><a href="{% url 'toukei_jihanki_index' jihanki.jihanki_id%}">{{ jihanki.address }}</a></td>
                        <td>{{ jihanki.coordinate_X }}</td>
                        <td>{{ jihanki.coordinate_Y }}</td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}